.actionBarButton {
  display: flex;
  width: var(--action-bar-width);
  min-width: var(--action-bar-width) !important;
  max-width: var(--action-bar-width);
  height: var(--action-bar-width);
  max-height: var(--action-bar-width);
  padding: 0;
}

.actionBarBackButton {
  margin-bottom: 8px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 8px;
}
