.resourceListArea {
  align-content: start;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 8px;
  gap: 10px;
}

.resourceListAreaLogos {
  column-count: 2;
  column-gap: 8px;
  overflow-y: scroll;
  padding: 8px;
}

.horizontalStack.tabs {
  justify-content: space-between;
}
