.resourceListAreaLogos {
  column-count: 2;
  column-gap: 8px;
  overflow-y: scroll;
  padding: 8px;
  padding-right: 0px;
  box-sizing: border-box;
  width: 100%;
}

.horizontalStack.tabs {
  justify-content: space-around;
}
