.editorContainer {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.actionBar {
  background: #2a2a3e;
  display: flex;
  width: var(--action-bar-width);
  border-right: 1px solid var(--ui-color-3);
}

.leftPanel {
  background: #2a2a3e;
  border-right: 1px solid var(--ui-color-3);
  flex-direction: column;
  width: var(--left-panel-width);
  min-width: var(--left-panel-width);
  display: flex;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
}

.verticalStack.leftPanel {
  align-items: start;
}

.labelsView {
  background-color: var(--ui-color-1);
  padding-top: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
  height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
}
