.editorContainer {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
}

.actionBar {
  background: #2a2a3e;
  display: flex;
  width: var(--action-bar-width);
  border-right: 1px solid var(--ui-color-3);
}

.leftPanel {
  background: #2a2a3e;
  border-right: 1px solid var(--ui-color-3);
  flex-direction: column;
  width: var(--left-panel-width);
  min-width: var(--left-panel-width);
  display: flex;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
}

.verticalStack.leftPanel {
  align-items: start;
}

.labelsView {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 20px;
  overflow: hidden;
}

.labelContainer {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border: 2px solid transparent;
  margin-bottom: 20px;
}

.labelContainer.horizontal {
  max-width: var(--cell-width);
  width: calc(49.9% - 20px);
  max-height: var(--cell-width);
}
