.horizontal .canvasLabel img {
  width: var(--cell-width);
  height: auto;
}

.vertical .canvasLabel img {
  height: var(--cell-width);
  width: auto;
}

.previewFooter {
  display: flex;
  align-items: center;
  min-height: 40px;
}

@keyframes flash-blink {
  0%,
  100% {
    border: 4px solid var(--ui-color-primary);
  }
  50% {
    border: 4px solid transparent;
  }
}

.flash-card {
  animation: flash-blink 0.8s ease-in-out infinite;
}
