.verticalStack.drawer {
    height: 50px;
    overflow: hidden;
}

input[type="checkbox"]:checked~.verticalStack.drawer {
    /* styles to apply when checkbox is checked */
    height: 350px;
    overflow: unset;
}

.resourceListArea {
    align-content: start;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 350px;
    height: fit-content;
    padding: 8px;
    gap: 10px;
}

.imageResourceDisplayContainer {
    cursor: pointer;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px;
    max-width: 400px;
    height: 250px;
}

.imageResourceDisplay {
    object-fit: contain;
}